<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch">
        <observer name="fpc_controller_action_postdispatch" instance="Lesti\Fpc\Observer\controllerActionPostdispatch"/>
    </event>
    <event name="controller_action_layout_generate_blocks_before">
        <observer name="fpc_controller_action_layout_generate_blocks_before" instance="Lesti\Fpc\Observer\controllerActionLayoutGenerateBlocksBefore"/>
    </event>
    <event name="http_response_send_before">
        <observer name="fpc_http_response_send_before" instance="Lesti\Fpc\Observer\httpResponseSendBefore"/>
    </event>
    <event name="core_block_abstract_to_html_after">
        <observer name="fpc_core_block_abstract_to_html_after" instance="Lesti\Fpc\Observer\coreBlockAbstractToHtmlAfter"/>
    </event>
    <event name="core_block_messages_get_grouped_html_after">
        <observer name="fpc_core_block_messages_get_grouped_html_after" instance="Lesti\Fpc\Observer\coreBlockAbstractToHtmlAfter"/>
    </event>
</config>
